/*//META{"name":"Rainbow Status + Mentions + Highlight","description":"Creates rainbow mentions, statuses, and highlight colors!","author":"Hoofer#0001 | https://twitter.com/leHoofer | Help by Fuzzy#3874","version":"2.0","website":"","source":""}*//**/
.theme-dark .isMentioned-N-h9aa .mention, .theme-light .isMentioned-N-h9aa .mention,.theme-dark .wrapper-3WhCwL,.theme-dark .wrapper-3WhCwL:hover,.theme-dark .isMentioned-N-h9aa, .theme-dark .isMentioned-N-h9aa {
  color: #00e5ff;
  animation: rainbowmention 1s infinite linear;
  /* animation: rainbowmention 3s infinite linear; */
}

@keyframes rainbowmention {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}




.da-activity:nth-of-type(1) {
background: transparent !important;
color: #00e5ff;
text-shadow: 2px 2px 4px #000000;
animation: rainbowstatus 1s infinite linear;
}

@keyframes rainbowstatus {
from {
  -webkit-filter: hue-rotate(0deg);
}
to {
  -webkit-filter: hue-rotate(360deg);
}
}